<div>
  <ul>
    <% @tasks.each do |task| %>
      <!-- <li><%= task.title %> - <%= task.details %> - Done? -> <%= task.completed %></li> -->
      <% if task.completed == true %>
        <li> ✅ <%= link_to task.title, task_path(task) %> <%= link_to " - 🗑",
            task_path(task),
            method: :delete,
            data: { confirm: "Are you sure?" } %>
        </li>
      <% else %>
        <li> ❌ <%= link_to task.title, task_path(task) %> <%= link_to " - 🗑",
            task_path(task),
            method: :delete,
            data: { confirm: "Are you sure?" } %>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>

<div>
  <p> <%= link_to 'Add a new task', new_task_path %></p>
</div>
